html{
  font-family: 'Cardo', serif;
  font-family: 'Montserrat', sans-serif;
  font-family: 'Source Code Pro', monospace;
  scroll-behavior: smooth;
  font-size: larger;
}

body {
  background-color: #1c221f;
  color: #A2E3C4;
  font-family: Montserrat;
  scroll-behavior: smooth;
  padding: 50px;
}


/* ======================== MENU ======================== */
  #menu {
    height: auto;
    position: fixed;
    top: center;
    right: 0;
    width: 200px;
    color: #A2E3C4;
    font-weight: bold;
    letter-spacing: 1px;
  }
  #menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  #menu li {
    display: block;
    padding: 20px;
    background-color: transparent;
  }
  #menu li:hover{
    background-color: #7E8D85;
  } 
  #menu a {
    color: #A2E3C4;
    text-decoration: none;
  }

  /* ======================== CONNECTIONS ======================== */
  #connections {
    position: fixed;
  }
  #connections li {
    background-color: transparent;
    padding: 20px;
  }
  #connections li:hover {
    background-color: #A2E3C4;
  }
  .linkedInButton {
    height: 64px;
  }
  .githubButton {
    height: 64px;
  }

  .grid-item {
    text-align: left;
  }

  li {
    display: inline-block;
    padding: 20px;
    background-color: #333;
    border-bottom: #F0F7F4;
    border-radius: 2%;
  }
  

  /* ======================== ABOUT ======================== */
  #about h2 {
    font-size: 5em;
    letter-spacing: 2px;
    padding-top: 10%;
    font-stretch: extra-expanded;
  }
  #about p {
    width: 80%;
    font-weight: 500;
    padding-left: 5px;
    color: #F0F7F4;
  }

  #about  h3{
    padding-left: 5px;
    color: #A2E3C4;
    letter-spacing: 1px;
  }

  /* ======================== SKILLS ======================== */
  #skills {
    padding-top: 10%;
  }

  #skills li {
    padding-top: 20px;
    font-weight: 600;
  }

  /* ======================== EXPERIENCE ======================== */
  #experience {
    padding-top: 10%;
  }

  #experience h4{
    font-family: 'Cardo';
    letter-spacing: 1px;
    font-size: large;
  }
  
  #experience li {
    width: 40%;
    background-color: #B3BFB8;
    color: #1c221f;
    font-weight: 600;
  }

  #experience p {
    letter-spacing: 1px;
  }

  /* ======================== PROJECTS ======================== */
  #projects {
    padding-top: 10%;
  }

  #projects li {
    width: 40%;
  }

  #projects h5 {
    width:fit-content;
    display: inline-block;
    background-color: #A2E3C4;
    color: #333;
    padding: 10px;
  }