html{     
      font-family: 'Cardo', serif;
      font-family: 'Montserrat', sans-serif;
      scroll-behavior: smooth;
}  

/* #30343F gunmetal
#FAFAFF ghost white
#E4D9FF lavender blue
#273469 
#1E2749 */

a{
      color: #FAFAFF;
      text-decoration-line: none;
}

body{
      height: 100%;
      background-color: #30343F;
      display: grid;
      color: #FAFAFF;
}

/* global menu */
.layoutManager{  
      display: grid;
      grid-template-columns: 15% 70% 15%;
}
.menuManager{
      grid-column: 1 / span 3;
      grid-row: 1;
      position: fixed;
      top: 0;
      display: flex;
      height: fit-content;
      justify-self: right;
      background-color: #30343F;
      opacity: 90%;
      vertical-align: middle;
}
.menu{
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-items: right;
}

/* menu items */
.about, .experience, .work, .contact{
      padding: 2em 4em .5em 4em;
      color: #FAFAFF;
}

.foto{
      width: 100%;
      height: auto;
      grid-column: 1 / span 3;
}

/* index */
.index3{
      padding-top: 5em;
}
.index2, .experience2, .work2, .contact2{
      grid-column: 2; 
}

.index3, .experience3{
      justify-self: left;
      grid-column: 2;
}
.introHeader{
      font-family: 'Montserrat';
      font-weight: 700;
}
.introBody{
      font-family: 'Cardo';
      max-width: 75%;
      letter-spacing: 1px;
}
.introBodyConclusion{
      font-family: 'Montserrat';
      letter-spacing: 1px;
}

.index6{
      grid-column: 2;
      grid-template-columns: 2;
      height: fit-content;
      justify-content: space-evenly;
}
.githubButton{
      height: 72px;
      grid-column: 1;
      justify-self: center;
}
.li{
      padding: 1em 0 0 0;
      justify-self: center;
}
.linkedInButton{
      height: 64px;
      /* grid-row: 2; */
      grid-column: auto;
      justify-self: center;
}

/* experience */

.experienceSummary{
      padding-top: 5em;
      font-family: 'Cardo';
      max-width: 75%;
}
.experienceHeader{
      font-family: 'Montserrat';
}

/* work */
/* to be updated */

/* contact */

.contact3, .work3{
      grid-column: 2;
      display: grid;
      padding-top: 2em;
      justify-self: center;
}

.contactHeader, .workHeader{
      padding-top: 1em;
      justify-self: center;
}

